@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world 23</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div style="border: solid 2px gray; padding: 10px; border-radius: 10px">
    <Counter currentCount="10" />
</div>
